#id-input,
#password-input,
#email-input,
#name-input,
#confirm-password-input {
  border: 2px solid #282667;
  margin: 10px;
  color: rgba(40, 38, 103, 0.827);
  padding: 10px;
  border-radius: 15px;
  font-size: small;
}

#forget-pass {
  font-weight: 300;
  font-size: 12px;
  align-self: flex-start;
  margin-left: 12px;
  margin-top: 5px;
}

#login-button {
  background-color: #282667;
  margin: 10px 15px 0 0;

  color: white;
  align-self: flex-end;
  width: 100px;
  height: 38px;
  border-radius: 10px;
}
