.NavBar {
    width: 100%;
}

.NavBar, .NavBarMiddle, .NavBarRight, .NavBarSearch, .NavBarSearchCategories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.NavBarLeft {
    text-align: center;
    padding: 0 3rem;
}

.NavBarRight {
    padding: 0 1rem;
}

.NavBarMiddle {
    padding: 0 3rem;
    gap: 1rem;
}

.NavBarSearch {
    padding: 1rem;
}

.NavBarSellerButton {
    padding: 1rem;
}

.NavBarLeft p {
    background: linear-gradient(90deg, rgba(40,38,103,1) 0%, rgba(2,0,36,1) 100%);
    font-size: 2rem;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.NavBarSearch, .NavBarSellerButton {
    border-radius: 5rem;
    border: 3px solid #000000;
}

.NavBarSellerButton {
    text-align: center;
    min-width: 150px;
}

img {
    min-width: 1.5rem;
}
