#id-input,
#password-input,
#email-input,
#name-input,
#confirm-password-input {
  border: 1px solid #282667;
  margin: 5px;
  color: rgba(40, 38, 103, 0.827);
  padding: 10px;
  border-radius: 15px;
  font-size: small;
}

#sign-button {
  background-color: #ffb757;
  margin-top: 20px;

  color: #282667;
  width: 100px;
  height: 38px;
  border-radius: 10px;
}
