.trail {
  color: #282667;
  font-size: min(6em, 7vw);
  text-align: left;
}

.market {
  color: #ffb757;
  font-size: min(6em, 7vw);
}

/* subtitle is not aligned on logo */
.subtitle {
  font-size: min(2em, 2vw);
  margin: 0 11px; /* temporary margin to align on fulscreen */
}
